ml-selectfield > div > div > div.mdl-menu__outline
  {width: 250px !important; box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.14)}
ml-selectfield > div > div > ul > ml-sf-item > li.mdl-menu__item {width: 218px; font-size: 16px}
.input-field{padding-left: 33px !important; cursor: pointer}
.input-label{padding-left: 33px !important; cursor: pointer}
.menu-btn{height: 27px !important}
