# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# transpiled files
/src/**/*.js
/src/**/*.map

# system files
*.db

# misc
npm-debug.log
*.psd

# e2e
/e2e

